*{box-sizing: border-box;}
body {margin: 0; padding: 0; font-family: Arial; font-size: 14px;}

header{
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: start;
  flex-direction:row;
  align-items: center;
  background-color: #363535;
  color: #353535;
}
.frage{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 350px;
  height: 30px;
  background-color: #b8b8b8;
  box-shadow: 1px -1px 17px 4px rgba(199,181,181,0.6);
  padding-left: 10px;
  border-radius: 5px; 
}
.info{
  display: flex;
  align-items: center;
  justify-content:start;
  width: 65%;
  height: 30px;
  margin-left: 100px;
}
.info a{
  display: flex;
  align-items: center;
  font-size: 17px;
  text-decoration: none;
  color: rgb(238, 237, 237);
}
.info a:first-child{
  width: 200px;
}
.info a:last-child{
  padding-left: 100px;
  margin-right: 10px;
}
.info a img{
  width: 20px;
  margin-right: 10px;
}
                                            /*========================            SLİDER          ==========================*/
:root{
    --sliderHeight: 50%;
}
body{
    font-family: "Segoe UI";
    height: 100vh;
    margin: 0;
}
.gross{
    position: relative;
    overflow: hidden;
}
.sliderContainer{
    width: 99999px;
    height: var(--sliderHeight);
    background-color: #ddd;
    transition: transform 1s;
}
.slide{
    width: 100vw;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content:center;
    align-items: center;
}
.slide img{
  width: 30%;
  margin: 0 20px;

}
.slide h1{
    font-size: 4vw;
    margin:0 20px;
    color: darkviolet;
}
.slide span{
    font-size: 1.4em;
}
#slidePrev, #slideNext{
    position: absolute;
    color:darkorange;
    font-size: 2.3em;
    top: calc(var(--sliderHeight) / 2);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#slidePrev:hover, #slideNext:hover{
    background-color: rgba(46, 46, 46, 0.4);
}
#slidePrev{
    left: 30px;
}
#slideNext{
    right: 30px;
}
#progress{
    width: 0;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
}
.animation{
    animation-name: breite;
    animation-duration: 5s;
    animation-timing-function: linear;
}
                                            /*========================            KONFETİ          ==========================*/
.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  animation: confetti 20s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}                                          
                                            /* =======================          STİCK NAVBAR        ========================= */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .wrapper {
  padding-top: 145px;
}
                                            /* =======================             NAVBAR           ========================= */
#navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f5f1f1;
  width: 100%;
  height: 15vh;
  z-index: 2;
}
.menuContainer{
  width: 100%;
  height: 300px;
	display: flex;
  justify-content:center;
  align-items: center;
	
}
.logoContainer{
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items:center;
	color: rgb(83, 82, 82);
	text-align: center;
  padding-left: 50px;
  margin-right: 150px;
  
}
.dropdownContainer{
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  

}
.bewertung{
  width: 20%;
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.bewertung a{
  width: 20%;
  font-size: 30px;
  text-decoration: none;
}
.logoContainer h3{
  text-align: center;
  margin: 0 30px;
}
.logoContainer a{
	color:#989898;
	text-decoration: none;
  display: flex;
  align-items: center;
}
.logoContainer a img{
  width: 100px;
  height: 50px;
}
.dropdown{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
text-align: center;
}
.dropbtn {
  height: 40px;
  background-color: #f5f5f5;
  transition: 0.3s;
  color: rgb(20, 20, 20);
  box-shadow: 1px -1px 17px 4px rgba(199,181,181,0.6);
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
}
.dropdown-content {
  width:100%;
  overflow:hidden;
}
.dropdown-content > div {
  background-color: #f9f9f9;
  transform:translateY(-100%);
  transition:transform 1s;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.dropdown:hover .dropdown-content > div {
  transform:translateY(0);
}
.dropdown:hover .dropbtn {
  background-color: rgba(253, 175, 175, 0.6);
  color: #000000;
  transition: 0.3s;
}
.dropdown1 {
  margin-top: 175px;
  margin-left:10px;
}
.dropdown2 {
  margin-top: 175px;
  margin-left:10px;
}
.dropdown3 {
  margin-top: 175px;
  margin-left:10px;
}
                                          /* =======================             WRAPPER           ========================= */
.wrapper{
  display:flex;
  flex-direction:column;
}
.wrapper spa{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
                                       /* =======================      SECTION LEİSTUNGEN          ========================= */
.leistungen{
  margin-top: 150px;
  flex-direction: column;
  text-align: center;
  justify-content:space-between;
}
.leistungen span{
  font-size: 50px;
}
.leistungen p{
  text-align: justify;
}
.card2{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  font-size: 18px;
  text-align: justify;
  padding-left: 300px;
}
.card3{
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  align-items: center;
  text-align: justify;
  margin-top: 100px;
  font-size: 18px;
  padding-right: 300px;
}
.card4{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  text-align:justify;
  margin-top: 100px;
  font-size: 18px;
  padding-left: 300px;

}
h3{
  text-align: center;
}
.cardText p{
margin:0 40px;
text-align: justify;
margin-bottom: 100px;
}
.imageSizing2{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgb(239, 239, 240);
  width: 600px;
  height: 500px;
  box-shadow: 1px -1px 17px 4px rgba(199,181,181,0.6);
}
.cardButton{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn{
  width: 250px;
  height: 60px;
  background-color: rgb(255, 17, 0);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin-top:30px;
  color: rgb(6, 1, 39);
  opacity: 0.7;
  transition: 0.3s;
  z-index: 1;
}
.btn:hover {
  opacity: 1;}
.imageSizing2 img{
  padding: 0 20px;
  width: 100%;
  height: auto;
}
                              /* =======================      SECTİON UNSERTEAM          ========================= */
.unserTeam{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  margin-top: 50px; 
}
.team{
  margin-top: 150px;
  flex-direction: column;
  text-align: center;
  justify-content:space-between;
}
.teamCard{
  flex: 2 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  padding: 0 130px;
}
.imageSizing{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgb(239, 239, 240);
  width: 350px;
  height: 570px;
  box-shadow: 1px -1px 17px 4px rgba(199,181,181,0.6);
}
.imageSizing img{
  padding: 0 20px;
  width: 100%;
  height: auto;
}
                                  /*__________________________________________BLİNKER EFEKT_____________________________________________*/
.blink1 {
  font-size:40px;
  color: #fc3737;
  animation: blinkMe 4s linear infinite;
  font-family: goudy stout;
 }
 .blink2{
  font-size:40px;
  color: #fc3737;
  animation: blinkMe 4s linear infinite;
  font-family: goudy stout;
 }
                                          
                                          /* =======================             ARTICLE           ========================= */
article{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.übereruns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:justify;
  width: 70%;
}
.überuns h2{
text-align: center;
}
.überuns_top{
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

                                          /* =======================             FOOTER           ========================= */
footer{
  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content:space-between;
  background-color: #2b2a2a;
  margin-top: 150px;
  color: #f1f1f1;
}
.spalte{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #2b2a2a;
  height: 35vh;
}
.spalte1{
  width: 37%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-right: 30px;
  margin: 40px 0 0 20px;
}
.spalte1 div{
  display: flex;
  justify-content:start;
}
.spalte1 p{
  text-align:left;
}
.spalte1 h1{
  margin: 0px;
}
.spalte1 img{
  width: 200px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.spalte2{
  width: 30%;
}
.spalte2 a{
  width: 25%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(231, 226, 226);
  font-size: 18px;
}
.spalte2 img{
  width: 9px;
  margin-right: 20px;
}
.spalte2 p{
  width: 360px;
  text-align: center;
  font-size: 28px; 
}
.spalte3{
  width: 33%;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
}
.spalte3 p{
  text-align: left;
  font-size: 18px;
}
.spalte3 p:first-child{
  font-size: 28px;
}
.copyright{ display: flex;
  flex-direction: column;
  height: 30vh;
  width: 100%;
  margin-top: 20px;
}
footer hr{
  height: 1px;
  margin: 50px auto;
  width: 82vw;
}
                            /* =======================             BACK TO TOP          ========================= */
#myBtn {
  display: flex; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  padding: 5px; /* Some padding */
  font-size: 18px;
  border-radius: 35px;
  width: 30px;
  height: 30px;
}
#back1{
  width: 20px;
  height: 20px;
}

                            /* =======================             FORMULAR           ========================= */
.loginBox{
  width: 350px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(236, 227, 227);
  border-radius: 20px;
  padding: 0 20px;
}
.loginBox input{
  margin-bottom: 10px;
  padding-left: 10px;
}
.box{
  display: flex;
  justify-content: space-between;
}
.loginBox span{
  color: rgb(32, 32, 32);
  font-weight: calibria;
}
.loginBox input{
  color: rgb(139, 138, 138);
  font-weight: calibria;
}
.loginBox button{
  height: 35px;
  display: flex;
  justify-content:center;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: rgb(204, 131, 131);
  padding: 8px 0;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
@keyframes breite{
    0% { width: 0; }
    100% { width: 100%; }
}
@keyframes confetti {
  0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
  25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
  50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
  75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
  100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}
@keyframes blinkMe {
   0% 
   {
   opacity: 0;
   }

   50% 
   {
   opacity: 1;
   }

   100% 
   {
   opacity: 0;
   }
}
@media only screen and (max-width: 1250px) {
  .blink1{
    font-size: 30px;
  }
  .blink2{
    font-size: 30px;
  }
  .spalte{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .spalte1{
    width: 33%;
    justify-content: center;
    flex-direction: column;
  }
  .spalte2{
    width: 33%;
    justify-content: center;
  }
  .spalte3{
    width: 33%;
  justify-content: center;
  }
  footer{
  height: 100vh;
  }
  footer hr{ 
    width: 0px;
  }
}
@media only screen and (max-width: 1150px) {
  .team{
    margin-top: 0;
  }
    .card2{
    flex-direction: column;
    padding-left: 0; 
  }
  .card3{
    flex-direction: column;
    padding-right: 0;
    margin-top: 50px;
  }
  .card4{
    flex-direction: column;
    padding-left: 0;
    margin-top: 50px;

  }  
}
@media only screen and (max-width: 900px) {
  .blink1{
    font-size: 25px;
  }
  .blink2{
    font-size: 25px;
  }
  .column-first {
    width: 100%;
  }
  .column-second {
    width: 100%;
  }
  .container a, .menuContainer a{
    font-size: 12px;
  }
  
  .card{
    font-size: 14px;
    padding: 20px;
  }
  .scrollbar{
    visibility: collapse;
  }
  .logoContainer{
    margin-right: 50px;
  }
}

@media only screen and (max-width: 800px){

  .menuContainer{
    
    flex-direction: column;
    justify-content:flex-end;
  }
 

  

  .dropdown1 {
    margin-top: 12px;
  }
  .dropdown2 {
    margin-top: 12px;
  }
  .dropdown3 {
    margin-top: 12px;
  }


}

@media only screen and (max-width: 600px){
  .container a, .menuContainer a{
    font-size: 12px;
  }
  .card{
    font-size: 10px;
    padding: 10px;
  }
  .teamCard{
    padding-left:0 ;
    padding-right: 0;
  }
  .imageSizing2{
    width: 400px;
    height: 330px;
  }
  .blink1{
    font-size: 18px;
  }
  .blink2{
    font-size: 18px;
  }
  .dropdownContainer{
    width: 100%;
    margin-left: 40px;
  }
  .logoContainer{
    padding:0;
  }
}

@media only screen and (max-width: 500px){
  .dropdownContainer{
    margin-left: 0;
  }
  .dropbtn{
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px; 
}

}


@media only screen and (max-width: 420px)
{
  
  .container a, .menuContainer a{
    font-size: 12px;
  }
  .dropdown-content a{
    padding-left: 5px;
    padding-right: 5px;
  }
  .dropdown1{
    margin-left: 0;
  }
  .dropdown2{
    margin-left: 0;
  }
  .dropdown3{
    margin-left: 0;
  }
  
  .card{
    font-size: 10px;
    padding: 10px;
  }
  .teamCard{
    padding-left:0 ;
    padding-right: 0;
  }
  .imageSizing{
    width: 200px;
    height: 300px;
  }
  .imageSizing img{
  padding: 0 20px;
  width: 100%;
  height: auto;
}
  .imageSizing2{
    width: 300px;
    height: 250px;
  }
  .blink1{
    font-size: 14px;
  }
  .blink2{
    font-size: 14px;
  }
  .card3{
    flex-direction: column;
    padding-right: 0;
    margin-top: 0;
  }
  .card4{
    flex-direction: column;
    padding-left: 0;
    margin-top: 0;

  }
  
}